adaptive_threshold.svg
affine.svg
all_threshold.svg
decompose.svg
denoise_all.svg
equalise.svg
equalise_hist.svg
global_threshold.svg
groundtruth_error.svg
groundtruth_transform.svg
pipelines/*
sobel.svg
