adaptive_threshold.png
affine.png
all_threshold.png
decompose.png
denoise_all.png
equalise.png
equalise_hist.png
global_threshold.png
groundtruth_error.png
groundtruth_transform.png
pipelines/
sobel.png
transforms/
